<mat-card class="submit-form">
  <mat-card-title>Contact Us</mat-card-title>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="details">
      <div class="row">
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName"/>
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName"/>
      </div>
      <label for="email">E-mail Address: </label>
      <input id="email" type="email" formControlName="email"/>

      <legend>Query Type:</legend>
      <input id="query-type-1" type="radio" value="general" formControlName="queryType"/>
      <label for="query-type-1">General Enquiry</label>
      <input id="query-type-2" type="radio" value="support" formControlName="queryType"/>
      <label for="query-type-2">Support Request</label>

      <label for="message">Message: </label>
      <textarea id="message" type="text" formControlName="message"></textarea>

      <label for="consent">Support Request</label>
      <input id="consent" type="checkbox" formControlName="consent"/>
      <label for="consent">I consent to being contacted by the team.</label>

      <button
        type="submit"
        [disabled]="!contactForm.valid">
        Submit
      </button>

    </div>
  </form>
</mat-card>
